* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  text-align: center;
  line-height: 20px;
}

.container {
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.inputValue {
  border: none;
  width: 80%;
  border-bottom: 1px solid;
  margin-top: 13px;
  height: 29px;
  font-size: 25px;
}

.inputValue::placeholder {
  font-size: 25px;
  color: lightgrey;
}

.inputValue:focus {
  outline: none;
}

#addBtn {
  background-color: #f0c14b;
  border: none;
  border-radius: 3px;
  padding: 0 5px;
  margin-top: 14px;
  width: 15%;
  font-size: 25px;
  cursor: pointer;
}

#addBtn:active {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.listWrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.todoListContainer,
.completedListContainer {
  text-align: left;
  font-size: 25px;
  width: 100%;
  height: 280px;
  padding: 12px 11px;
}

.todoInnerHTML,
.completedInnerHTML {
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  width: 100%;
  height: 237px;
  padding-top: 5px;
  overflow: scroll;
}

.todoContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.todoSection1 {
  display: flex;
  width: 100%;
}

.checkboxValue {
  margin-right: 6px;
  width: 15px;
}

.todoContent {
  border: none;
  font-size: 20px;
  width: 100%;
  height: 30px;
}

.todoContent:focus {
  outline: none;
}

.todoSection2 {
  display: flex;
  gap: 10px;
}

.updateButton,
.deleteButton {
  border: none;
  font-size: 20px;
  border-radius: 3px;
  padding: 0 10px;
  height: 30px;
  width: 55px;
  cursor: pointer;
  color: #ffffff;
}

.updateButton {
  background-color: #f4444e;
}

.deleteButton {
  background-color: #4169e1;
}

.updateButton:active,
.deleteButton:active {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.completedListContainer .title {
  margin-top: 10px;
}

@media screen and (min-width: 1500px) {
  .container {
    margin: 20px 500px 0;
  }

  .inputContainer {
    justify-content: space-between;
    width: 87%;
    padding: 0;
  }

  .inputValue {
    font-size: 30px;
  }

  .inputValue::placeholder {
    font-size: 30px;
  }

  #addBtn {
    font-size: 30px;
  }

  .listWrapper {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .todoListContainer,
  .completedListContainer {
    font-size: 30px;
    width: 87%;
    height: 392px;
    padding: 12px 0;
  }

  .todoInnerHTML,
  .completedInnerHTML {
    height: 349px;
    overflow: auto;
  }

  .checkboxValue {
    width: 20px;
  }

  .todoContent {
    font-size: 30px;
  }
}
